* {
    margin: 0px;
}

body {
    background: url("garrett-parker-DlkF4-dbCOU-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
}

.card {
    background-color: #fff;
    padding: 44px 37px 48px;
    width: 24%;
    margin: 70px auto 24px;
}

.img1 {
    width: -webkit-fill-available;
    height: 38vh;
    max-height: 36vh;
}

.kalam1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

.kalam2 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 3px;
    line-height: 1.5;
}
.button{text-align: center;width: 56%;font-size: 15px;padding: 16px 12px;background-color: #ddba76;color: #fff;border: 3px #ddba76 solid;}